* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  background: #3a3a3a;
  color: #fff;
}

.main-div {
  display: flex;
}

form {
  position: sticky !important;
  display: inline-block;
  top: 0;
  left: 0;
  min-width: 300px;
  background: #333;
  height: 100vh;
  z-index: 2;
}

form h1 {
  padding-top: 2rem;
  margin-left: 1.5rem;
}

form small {
  margin-left: 1.6rem;
}

.display-button {
  display: none;
}

.error-message {
  margin-left: 1.5rem;
  margin-top: 1rem;
  color: rgb(252, 60, 60);
  font-size: 1.4rem;
  opacity: 0;
}

label {
  display: block;
  margin: 0.5rem 0 0.5rem 1.5rem;
}

.label-title {
  margin-top: .5rem;
}

input {
  background: #212121;
  color: #aaa9a9;
  border: 0;
  width: 250px;
  margin: 0 0 0 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

input:focus,
select:focus,
button:focus {
  outline: 0;
}

select {
  cursor: pointer;
  background: #212121;
  color: #aaa9a9;
  border: 0;
  width: 250px;
  margin: 0 0 0 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

button[type='submit'] {
  cursor: pointer;
  margin: 1.5rem 0 0 1.5rem;
  width: 250px;
  background: #212121;
  color: #aaa9a9;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
}

button[type='submit']:hover {
  background: #5a5a5a;
}

.title-counter {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: flex-end;
}

.title-counter p {
  margin-bottom: .75rem;
  margin-left: .5rem;
  font-size: 2rem;
  color: #a9a9a9;
}

.counter {
  font-size: 5rem;
  color: #a9a9a9;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 1rem 5rem 0 0;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  border-bottom: 1px dotted #aaa9a9;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 1550px;
}

.title .input-title {
  margin-left: .5rem;
}

.complete-btn,
.trash-btn {
  cursor: pointer;
  color: #aaa9a9;
  background: #212121;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  margin: 0.5rem;
}

.trash-btn:hover {
  background: rgb(223, 61, 61);
  color: #fff;
}

.complete {
  color: green;
}

table {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.table-heading {
  border-bottom: 1px dotted #aaa9a9;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

table tr {
  display: flex;
  align-items: center;
  width: 100%;
}

table .title:hover {
  background: #333;
}

table .title:first-child:hover {
  background: #3a3a3a;
}

table .title .buttons {
  display: flex;
  align-items: center;
}

.check-complete {
  color: green;
}

.completed {
  background: rgb(44, 148, 44);
  color: #fff;
}

.table-heading {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: .5rem;
  color: #aaa9a9;
}

.title-heading {
  margin-left: .5rem;
}

.input-title {
  margin-right: .5rem;
}

.type {
  margin-left: -.5rem;
}

.status {
  padding: 0 .5rem;
}

.anime { color: rgb(122, 209, 243); }
.manga { color: rgb(138, 216, 138); }
.anime-manga { color: rgb(255, 198, 93); }

@media(max-width: 499px) {
  .input-submit-form {
    display: none;
    transition: all .3s ease-in;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    animation: dropDown .5s ease-in-out forwards;
    background: #333;
    z-index: -2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 2px #a9a9a9 solid;
  }

  @keyframes dropDown {
    0% {
      transform: translateY(-300px);
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      transform: translateY(58px);
      opacity: 1;
    }
  }

  .display-button {
    display: block;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background: #5f5f5f;
    color: #fff;
    font-size: 1.2rem;
  }

  body {
    font-size: .8rem;
  }
  .main-div {
    display: flex;
    flex-direction: column;
  }

  .input-submit-form {
    display: none;
  }

  .display-button {
    display: block;
    position: absolute;
    top: 12px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background: #5f5f5f;
    color: #fff;
    font-size: 1.2rem;
  }

  form {
    height: 70px;
  }

  form h1 {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 0;
  }
  
  form small {
    margin-left: 0.6rem;
    margin-bottom: 0.3rem;
  }

  small {
    margin-bottom: 2rem;
  }

  .error-message {
    margin: 0 0 0 1.5rem;
  }
  
  .label-title {
    margin-top: 0rem;
  }

  button[type="submit"] {
    width: 87%;
  }

  input, select {
    width: 87%;
    margin-right: 1.5rem;
  }

  button[type="submit"] {
    margin-bottom: 1rem;
  }

  .title-counter {
    display: none;
  }

  .title {
    width: 320px;
  }

  .trash-btn:active {
    background: rgb(223, 61, 61);
  }
}

@media(min-width: 500px) and (max-width: 600px) {
  .input-submit-form {
    display: none;
    transition: all .3s ease-in;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    animation: dropDown .5s ease-in-out forwards;
    background: #333;
    z-index: -2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 2px #a9a9a9 solid;
  }

  @keyframes dropDown {
    0% {
      transform: translateY(-300px);
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      transform: translateY(70px);
      opacity: 1;
    }
  }

  .display-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background: #5f5f5f;
    color: #fff;
    font-size: 1.2rem;
  }

  .display-button:hover {
    cursor: pointer;
  }

  .title {
    width: 400px;
  }

  .main-div {
    display: flex;
    flex-direction: column;
  }

  form {
    height: 90px;
  }

  form h1 {
    margin-top: 0.5rem;
    padding-top: 0;
  }
  
  form small {
    margin-left: 1.5rem;
    margin-bottom: .3rem;
  }

  .error-message {
    margin: 0;
  }
  
  .label-title {
    margin-top: 0rem;
  }

  button[type="submit"] {
    width: 90%;
  }

  label {
    margin: 0 0 0 1.5rem;
    padding: 0.5rem 0;
  }

  input, select {
    width: 90%;
    margin-right: 1.5rem;
  }

  button[type="submit"] {
    margin-bottom: 1rem;
  }

  .title-counter {
    display: none;
  }
}

@media(min-width: 601px) and (max-width: 700px) {
  .main-div {
    display: flex;
    flex-direction: column;
  }

  form {
    height: auto;
  }

  form h1 {
    margin-top: 0.5rem;
    padding-top: 0;
  }
  
  form small {
    margin-left: .5rem;
    margin-bottom: .3rem;
  }

  .anime-tracker-div {
    display: flex;
    align-items: flex-end;
  }

  .error-message {
    margin: 0;
  }
  
  .label-title {
    margin-top: 0rem;
  }

  button[type="submit"] {
    width: 90%;
  }

  label {
    margin: 0 0 0 1.5rem;
    padding: 0.5rem 0;
  }

  input, select {
    width: 90%;
    margin-right: 1.5rem;
  }

  button[type="submit"] {
    margin-bottom: 1rem;
  }

  .title-counter {
    display: none;
  }

  .label-div-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    width: 500px;
  }
}

@media(min-width: 701px) and (max-width: 800px) {
  .title {
    max-width: 400px;
  }

  form {
    min-width: 230px;
  }

  input, select, label, button[type="submit"] {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

@media(min-width: 801px) and (max-width: 1000px) {
  .title {
    width: 500px;
  }
}

@media(min-width: 1001px) and (max-width: 1200px) {
  .title {
    width: 700px;
  }
}

@media(min-width: 1201px) and (max-width: 1400px) {
  .title {
    width: 900px;
  }
}

@media(min-width: 1401px) and (max-width: 1600px) {
  .title {
    width: 1100px;
  }
}

@media(min-width: 1601px) and (max-width: 1800px) {
  .title {
    width: 1300px;
  }
}

@media(min-width: 1801px){
  .title {
    width: 1500px;
  }
}

/* landscape view */
@media(max-height: 465px) {
  .title-counter {
    display: none;
  }
}