@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  background: #3a3a3a;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.main-div {
  display: flex;
}

/* Main Form */
form.main-form {
  position: sticky !important;
  display: inline-block;
  top: 0;
  left: 0;
  min-width: 300px;
  background: #333;
  height: 100vh;
  z-index: 2;
}

form.main-form h1 {
  padding-top: 2rem;
  margin-left: 1.5rem;
  font-family: 'Orbitron', sans-serif;
}

.anime-tracker-div p {
  font-family: 'Orbitron', sans-serif;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  font-size: .8rem;
}

form.main-form label {
  display: block;
  margin: 0.5rem 0 0.5rem 1.5rem;
}

form.main-form .label-title {
  margin-top: .5rem;
}

form.main-form input {
  background: #212121;
  color: #aaa9a9;
  border: 0;
  max-width: 250px;
  width: 250px;
  margin: 0 0 0 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

input:focus,
select:focus,
button:focus {
  outline: 0;
}

form.main-form select {
  cursor: pointer;
  background: #212121;
  color: #aaa9a9;
  border: 0;
  max-width: 250px;
  width: 250px;
  margin: 0 0 0 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

form.main-form button[type='submit'] {
  cursor: pointer;
  margin: 1.5rem 0 0 1.5rem;
  max-width: 250px;
  width: 250px;
  background: #212121;
  color: #aaa9a9;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
}

form.main-form button[type='submit']:hover {
  background: #5a5a5a;
}

form.main-form button[type='submit']:active {
  transform: scale(.98);
}

p.alert-message {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  opacity: 0;
  padding: .25rem;
  color: black;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  pointer-events: none;
  max-width: 250px;
  width: 250px;
}

p.danger {
  background: rgb(255, 170, 170);
  border-left: red solid 5px;
}

p.success {
  background: rgb(163, 252, 163);
  border-left: rgb(4, 182, 4) solid 5px;
}

/* Filter Display Form */
form.filter-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

form .filter-div {
  display: flex;
  justify-content: space-between;
}

form .filter-div label {
  margin-left: 1.5rem;
}

form .filter-div select {
  background:  #212121;
  color: #aaa9a9;
  border: 0;
  width: 200px;
  margin: 0 0 0 .5rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Title Counter */
.title-counter {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: flex-end;
}

.title-counter p {
  margin-bottom: .75rem;
  margin-left: .5rem;
  font-size: 2rem;
  color: #a9a9a9;
}

.counter {
  font-size: 5rem;
  color: #a9a9a9;
}

/* Title List */
.title-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.title .input-title {
  margin-left: .5rem;
}

ul {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px dotted #aaa9a9;
  align-items: center;
  list-style-type: none;
  margin: 1rem 5rem 0 0;
}

li.title {
  margin: 0;
}

li.title:first-child {
  margin-top: .5rem;
}

li.title:hover {
  background:#333;
}

li.title:first-child:hover {
  background:#3a3a3a;
}

.anime-manga, .anime, .manga, .type {
  text-align: center;
}

.status {
  text-align: right;
}

ul li .title:hover {
  background: #333;
}

.table-heading {
  font-family: 'Mukta', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #aaa9a9;
}

.title-heading {
  margin-left: .5rem;
}

.input-title {
  margin-right: .5rem;
}

.type {
  margin-left: -.5rem;
}

.status {
  padding: 0 .5rem;
}

.anime { color: rgb(122, 209, 243); }
.manga { color: rgb(138, 216, 138); }
.anime-manga { color: rgb(255, 198, 93); }

/* Buttons */
.buttons {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.complete-btn,
.trash-btn, .fav-btn {
  cursor: pointer;
  color: #aaa9a9;
  background: #212121;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  margin: 0.5rem;
}

.fav-btn {
  font-size: 1rem;
}

.buttons span {
  position: absolute;
  top: 0;
  display: none;
  background: rgba(255, 255, 255, .9);
  border-radius: 5px;
  color: black;
  z-index: 100;
  width: 60px;
  font-size: .75rem;
}

.fav-btn:hover span, .complete-btn:hover span, .trash-btn:hover span {
  display: block;
}

.trash-btn:hover {
  background: rgb(223, 61, 61);
  color: #fff;
}

.complete {
  color: green;
}

.favorite {
  background: rgb(250, 96, 122);
  color: white;
}

.completed {
  background: rgb(44, 148, 44);
  color: #fff;
}

/* Mobile Components */
.anime-tracker-mobile-div {
  display: none;
}

.anime-tracker-mobile-div h1 {
  font-family: 'Orbitron', sans-serif;
  /* color: rgb(253, 130, 85); */
}

.anime-tracker-mobile-div p {
  font-family: 'Orbitron', sans-serif;
  font-size: .8rem;
  margin-left: .5rem;
  /* color: rgb(252, 153, 118); */
}

.display-btn {
  display: none;
}


/* MEDIA QUERIES */
@media(max-width: 499px) {
  body {
    position: relative;
  }

  form.main-form {
    min-width: 0;
    display: flex;
    justify-content: center;
    transition: all .3s ease-in-out;
  }

  form.main-form h1, form.main-form p {
    text-align: center;
  }

  form.main-form h1 {
    margin-left: 0;
  }

  .anime-tracker-form {
    display: none;
  }

  .anime-tracker-div p {
    font-size: .8rem;
    margin-left: 0;
  }

  form.main-form input, form.main-form select, form.main-form button[type="submit"], p.alert-message {
    min-width: 350px;
  }

  form.filter-form {
    margin-top: 4rem;
  }

  .anime-tracker-mobile-div {
    display: block;
    margin-left: 0rem;
    width: 170px;
  }

  .anime-tracker-mobile-div h1, .anime-tracker-mobile-div small {
    margin-left: .5rem;
  }

  .anime-tracker-mobile-div h1 {
    font-size: 1.5rem;
  }

  form.filter-form select {
    width: 100px;
    margin-top: .3rem;
  }

  ul {
    width: 350px;
    /* margin: auto; */
  }

  .type {
    margin-left: -2rem;
  }

  .title-counter {
    background: black;
    position: absolute;
    bottom: 42px;
    left: 0px;
    display: flex;
    align-items: center;
    padding: .25rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    opacity: .7;
  }
  
  .title-counter p {
    margin-left: .25rem;
    font-size: 1rem;
    color: #a9a9a9;
    margin-bottom: 0;
  }

  .counter {
    font-size: 1rem;
  }

  /* Mobile Components */
  .display-btn {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background: black;
    color: #a9a9a9;
    opacity: .7;
    transition: all .3s ease-in;
  }
}

@media(min-width: 500px) and (max-width: 600px) {
  body {
    position: relative;
  }

  .wrapper {
    position: relative;
  }

  form.main-form {
    min-width: 0;
    display: flex;
    justify-content: center;
    transition: all .3s ease-out;
  }

  form.main-form h1, form.main-form p {
    text-align: center;
  }

  form.main-form h1 {
    margin-left: 0;
  }

  .anime-tracker-form {
    display: none;
  }

  .anime-tracker-div p {
    font-size: .8rem;
  }

  form.main-form input, form.main-form select, form.main-form button[type="submit"], p.alert-message {
    min-width: 400px;
  }

  form.filter-form {
    margin-top: 4rem;
    margin-right: .5rem;
    display: block;
  }

  .anime-tracker-mobile-div {
    display: block;
  }

  .anime-tracker-mobile-div h1, .anime-tracker-mobile-div small {
    margin-left: .5rem;
  }

  form.filter-form select {
    width: 180px;
    margin-top: .3rem;
  }

  ul {
    width: 470px;
    margin: .5rem;
  }

  .title-counter {
    background: black;
    position: absolute;
    bottom: 42px;
    left: 0px;
    display: flex;
    align-items: center;
    padding: .25rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    opacity: .7;
  }
  
  .title-counter p {
    margin-left: .25rem;
    font-size: 1rem;
    color: #a9a9a9;
    margin-bottom: 0;
  }

  .counter {
    font-size: 1rem;
  }

  /* Mobile Components */
  .display-btn {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background: black;
    color: #a9a9a9;
    opacity: .7;
    transition: all .3s ease-in;
  }
}

@media(min-width: 601px) and (max-width: 700px) {
  form.main-form {
    min-width: 200px;
    width: 200px;
  }

  form.main-form label {
    margin-left: .75rem;
  }

  form.main-form h1, form.main-form small, form.main-form input, form.main-form select, form.main-form button[type="submit"] {
    margin-left: .5rem;
  }

  p.error-message {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  form.main-form input, form.main-form select, form.main-form button[type="submit"], p.error-message {
    width: 185px;
  }

  ul {
    width: 350px;
    margin: .5rem;
  }
}

@media(min-width: 701px) and (max-width: 800px) {
  form.main-form {
    min-width: 250px;
    width: 250px;
  }

  form.main-form h1, form.main-form small, form.main-form input, form.main-form select, form.main-form button[type="submit"] {
    margin-left: 1rem;
  }

  p.error-message {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  form.main-form input, form.main-form select, form.main-form button[type="submit"], p.error-message {
    width: 220px;
  }

  ul {
    width: 430px;
    margin: .5rem;
  }
}

@media(min-width: 801px) and (max-width: 900px) {
  ul {
    width: 480px;
  }
}

@media(min-width: 901px) and (max-width: 1000px) {
  ul {
    width: 580px;
  }
}

@media(min-width: 1001px) and (max-width: 1024px) {
  ul {
    width: 700px;
  }
}

@media(min-width: 1025px) and (max-width: 1300px) {
  ul {
    width: 900px;
  }
}